<div class="home-page">
  <section class="calendar">
    <app-calendar></app-calendar>
  </section>
  <section class="events">
    <h2 class="events__title">События</h2>
    <div class="timeline">
      <ul class="timeline__menu">
        <li class="timeline__list">
          <div class="timeline__content">
            <h1>11:00 - 12:00</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              tempora dignissimos quidem.
            </p>
          </div>
        </li>
        <li class="timeline__list">
          <div class="timeline__content">
            <h1>11:00 - 12:00</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              tempora dignissimos quidem.
            </p>
          </div>
        </li>
        <li class="timeline__list">
          <div class="timeline__content">
            <h1>11:00 - 12:00</h1>
            <p>
              Lorem, ipsum dolor sit amet consectetur adipisicing elit. Illum
              tempora dignissimos quidem.
            </p>
          </div>
        </li>
      </ul>
    </div>
  </section>
</div>
