@import "../../../../styles.scss";

.wrapper {
  display: flex;
  flex-direction: column;
  margin-top: 2rem;
}
.container {
  max-width: 460px;
  padding: 1rem;
  box-shadow: $shadow;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;

  &__actions {
    button {
      border: none;
      margin: 0 0.25rem;
      padding: 0.75rem;
      border-radius: 10px;
      font-size: 1.25rem;
      box-shadow: $shadow;
      background-color: coral;
      color: white;

      &:hover {
        opacity: 0.75;
      }
    }
  }
}

.display-date {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 1.2rem;
  border-radius: 10px 10px 0 0;
  font-size: 1.5rem;
}
.week-days,
.calendar-days {
  display: flex;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.week-days {
  font-weight: 600px;
  font-size: 18px;
  color: black;
  border-top: 1px solid coral;
  border-bottom: 1px solid coral;
  margin: 0 0.15rem;
  font-size: 1.15rem;
}

.day {
  min-width: 25px;
  min-height: 25px;
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
}
.currentDay {
  background-color: coral;
  color: white;
  border-radius: 50%;
  box-shadow: $shadow;
}

.selectedDay {
  border-radius: 50%;
  box-shadow: $shadow;
  font-size: 1.5rem;
}

.has-events {
  position: relative;
  &::after {
    content: "";
    width: 5px;
    height: 5px;
    background-color: green;
    border-radius: 50%;
    position: absolute;
    bottom: 12px;
  }
}

@media (max-width: 375px) {
  .day {
    padding: 0;
    margin: 0;
    width: 35px;
    height: 35px;
  }
}

@media (max-width: 576) {
  .container {
    max-width: 350px;
  }
  .day {
    margin: 0.75rem 0.1rem;
    width: 60px;
    height: 60px;
  }

  .selectedDay {
    font-size: 1.25rem;
    border-radius: 50%;
    box-shadow: $shadow;
  }

  .has-events {
    position: relative;
    &::after {
      content: "";
      width: 5px;
      height: 5px;
      background-color: green;
      border-radius: 50%;
      position: absolute;
      bottom: 7px;
    }
  }
}

@media (max-width: 768px) {
  .day {
    margin: 0.75rem 0.1rem;
    width: 45px;
    height: 45px;
  }

  .selectedDay {
    font-size: 1.25rem;
    border-radius: 50%;
    box-shadow: $shadow;
  }

  .has-events {
    position: relative;
    &::after {
      content: "";
      width: 5px;
      height: 5px;
      background-color: green;
      border-radius: 50%;
      position: absolute;
      bottom: 7px;
    }
  }
}

@media (max-width: 992px) {
}
