<div class="modal" >
  <div class="modal__content">
    <small class="modal__action close" (click)="closeModal()">Закрыть</small>
    <h2 class="modal__title">Создать событие</h2>


    <div class="modal__container">

      <div class="modal__wrapper">

        <div class="modal__block">

          <button class="modal__action left" (click)="changeHour(-1)">
            <
          </button>

          <div class="modal__display">
<!--            {{ hours }}-->
            {{ hours < 10 ? '0' + hours : hours}}
          </div>

          <button class="modal__action right" (click)="changeHour(1)">
            >
          </button>

        </div>

        <div class="modal_separate">
          :
        </div>

        <div class="modal__block">

          <button class="modal__action left" (click)="changeMinutes(-5)">
            <
          </button>

          <div class="modal__display">
            {{minutes < 10 ? '0' + minutes : minutes}}
          </div>

          <button class="modal__action right" (click)="changeMinutes(5)">
            >
          </button>

        </div>
      </div>

      <div class="modal__literal">
        -
      </div>

      <div class="modal__wrapper">
        <div class="modal__block">

          <button class="modal__action left" (click)="changeEndHours(-1)">
            <
          </button>

          <div class="modal__display">
            {{endHours < 10 ? '0' + endHours : endHours}}
          </div>

          <button class="modal__action right" (click)="changeEndHours(1)">
            >
          </button>

        </div>

        <div class="modal_separate">
          :
        </div>

        <div class="modal__block">

          <button class="modal__action left" (click)="changeEndMinutes(-1)">
            <
          </button>

          <div class="modal__display">
            {{endMinutes < 10 ? '0' + endMinutes : endMinutes}}
          </div>

          <button class="modal__action right" (click)="changeEndMinutes(1)">
            >
          </button>

        </div>
      </div>

    </div>


    <button class="modal__action">
       Добавить
    </button>

  </div>
</div>
