@use "../../../../styles.scss";

.modal {
  z-index: 1;
  display: flex;
  align-items: center;

  &__content {
    min-width: 200px;
    width: 600px;
    position: relative;
    margin: 1px;
  }

  &__container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__title {
    margin-bottom: 1.25rem;
    opacity: 0.75;
  }

  &__wrapper {
    display: flex;
    align-items: center;
  }

  &__block {
    min-width: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__action {
    margin: 1rem;
    padding: 0.5rem 0.75rem;
    border: none;
    border-radius: 10px;
    font-size: 1rem;
    box-shadow: styles.$bg-color-basic;
    transition: all 0.15s ease-in-out;
    // color: coral;

    &:hover {
      opacity: 0.75;
    }
  }

  &__display {
    font-size: 2rem;
    color: coral;
  }

  &__controls {
  }

  &__control {
    min-width: 50px;
  }
  &__block {
    display: flex;
    justify-content: start;
  }
}

.button,
.close {
  background-color: green;
  color: white;
  margin-bottom: -1.25rem;
  transition: all 0.15s ease-in-out;

  &:hover {
    opacity: 0.75;
    box-shadow: styles.$bg-color-basic;
    cursor: pointer;
  }
}
.modal__separator {
  font-size: 1.25rem;
}

.close {
  position: absolute;
  top: 10px;
  right: 10px;
  padding: 0.5rem;
  border: none;
  background-color: coral;
  color: white;
  border-radius: 5px;
  box-shadow: styles.$bg-color-basic;
}

.left {
  transform: rotate(90deg);
  font-size: 2rem;
}

.right {
  transform: rotate(90deg);
  font-size: 2rem;
}

.small {
  max-width: 89px;
}

.start {
  display: flex;
}
