/* You can add global styles to this file, and also import other style files */
@import "node_modules/normalize.css/normalize";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400&display=swap");

$shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;

$bg-color-basic: rgba(0, 0, 0, 0.05);

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  font-family: "Inter", sans-serif;
}

.modal {
  width: 100vw;
  height: 100vh;
  background-color: $bg-color-basic;
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  justify-content: center;
  align-items: center;

  &__content {
    padding: 20px;
    border-radius: 10px;
    background-color: white;
    min-width: 400px;
    min-height: 250px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2rem;
    box-shadow: $shadow;
  }
}

.form {
  width: 100%;
  // height: 100%;
  display: flex;
  flex-direction: column;

  &__field {
    display: flex;
    flex-direction: column;
  }

  &__control {
    margin: 0.5rem 0;
    padding: 0.25rem 0.5rem;
  }
  &__redirect {
    margin: 1rem 0;
  }
  &__action {
    padding: 0.25rem;
  }
}
